<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajout opérations</title>
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/fonts.css">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <main class="container" id="app">

    <section>
      <form id="form-seance" method="post">
        <div class="my-2 row">
          <div class="col-sm-4">
            <label for="date-seance">Date de la séance</label>
            <input type="date" name="date_seance" id="date-seance" class="form-control" v-model="seance.date"
              v-on:change="onDateChanged()" required>
          </div>

          <div class="col-sm-4">
            <label for="date-seance">Heure départ</label>
            <input type="text" name="date_seance" id="date-seance" class="form-control" min="08:00" max="17:00"
              step="1800" v-model="seance.debut" required>
          </div>

          <div class="col-sm-4">
            <label for="date-seance">Heure fin</label>
            <input type="text" name="date_seance" id="date-seance" class="form-control" min="08:30" max="18:00"
              step="1800" v-model="seance.fin" required>
          </div>
        </div>

        <div class="my-2 row">
          <div class="col-sm-6">
            <label for="classe-seance">Classe</label>
            <input type="text" name="classe" id="classe-seance" class="form-control" placeholder="Classe"
              list="liste-classes" v-model="seance.classe" required>
            <datalist id="liste-classes">
              <option v-for="classe in classes">{{classe}}</option>
            </datalist>
          </div>
          <div class="col-sm-6">
            <label for="groupe-seance">Groupe d'élèves</label>
            <select id="groupe-seance" name="groupe" class="form-control" v-model="seance.groupe" required>
              <option v-for="groupe in groupes">{{groupe}}</option>
            </select>
          </div>
        </div>

        <div class="my-2">
          <label for="titre-seance">Titre séance</label>
          <input id="titre-seance" name="titre" type="text" class="form-control" placeholder="Titre de la séance"
            v-model="seance.titre" required>
        </div>

        <div class="my-2">
          <label for="travail-seance">Travail réalisé</label>
          <textarea name="travail" id="travail-seance" cols="30" rows="10" class="form-control"
            placeholder="Travail réalisé pendant la séance" v-model="seance.travail" required></textarea>
        </div>

        <div>
          <button class="btn btn-primary" v-on:click.prevent="onInsertClicked()">Ajouter</button>
        </div>
      </form>
    </section>
  </main>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/vue.min.js"></script>
  <script src="scripts/app.js"></script>
</body>

</html>