<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="widdiv=device-widdiv, initial-scale=1.0">
  <title>Cahier de textes</title>
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/fonts.css">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  <main class="container" id="app">
    <article v-if="selectedClasse == ''">
      <h1>2k26</h1>
      <div class="index-page row">
        <div v-for="classe in classes" class="col-md-6 my-3">
          <a class="btn btn-success w-100 p-5" v-on:click.prevent="onClasseChanged(classe.shortName)"
            v-html="classe.longName"></a>
        </div>
      </div>

      <table class="emploi">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>08h</th>
            <th>09h</th>
            <th>10h</th>
            <th>11h</th>
            <th>12h</th>
            <th>13h</th>
            <th>14h</th>
            <th>15h</th>
            <th>16h</th>
            <th>17h</th>
          </tr>
        </thead>
        <tbody>
          <tr class="journee" v-for="jour, jourIdx in jours">
            <th>{{jour}}</th>
            <td v-for="seance in 10"></td>
          </tr>
        </tbody>
      </table>
    </article>

    <article v-if="selectedClasse != ''">
      <h1>Classe {{selectedClasse}}</h1>
      <div class="row">
        <div class="col-sm-6 annee-scolaire">{{annee_scolaire}}</div>
        <div class="col-sm-6 enseignant">{{enseignant}}</div>
      </div>
      
      <div class="my-2 d-print-none">
        <a href="#" v-on:click.prevent="onClasseChanged('')">&larr; Liste des classes</a>
      </div>

      <section v-for="seance, idx in seances[selectedClasse]">
        <h2><small>Séance {{seance.index}} : </small>{{seance.titre}}</h2>
        <div class="row">
          <div class="col-sm-3 date">{{formatDate(seance.date)}}</div>
          <div class="col-sm-3 heure">{{seance.debut}} &rarr; {{seance.fin}}</div>
          <div class="col-sm-6 groupe">{{seance.groupe}}</div>
        </div>
        <div class="remarque" v-if="seance.remarque" v-html="seance.remarque"></div>
        <div class="travail" v-html="seance.travail"></div>
      </section>
    </article>


  </main>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/vue.min.js"></script>
  <script src="scripts/entities.js"></script>
  <script src="scripts/app3.js"></script>
</body>

</html>